html {
    height: 100%;
}
body {
    background: #3692e2;
	height: 100%;
	margin: 0;
	padding: 0;
}
#head {
	/*display: block;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*width:100%;*/
	width: 980px;
	height: 12%;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
    background: url(../image/gwbg.jpg) top left repeat-x;
}
#head .mod-header a{
    display: flex;
    width: 330px;
    flex-direction: row;
    margin-left: 30px;
}

.mod-header {
    display: inline;
    font-size: 66px;
    width: 100%;
    height: 100%;
}

.clearfix {
    zoom: 1;
}
.main {
    height: 88%;
    margin-top: 5px;
    background-color: white;
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}
.maincss {
    width: 960px;
    height: 400px;
    background-color: white;
    font-size: 15px;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
}
.zctop {
    width: 880px;
    height: 80px;
    border-bottom: 1px solid #C9C9C9;
    margin: 0px 0px 0px 40px;
    color: #1794CC;
    font-size: 24px;
    line-height: 115px;
    font-weight: bold;
}
.zctop div {
    margin: 0px 0px 0px 20px;
}
.yhzccss {
    float: left;
}
.helpcss {
    float: right;
}
.regDiv {
	position: absolute;
	top: 50%;
	left: 35%;
	/*margin:-225px, 0, 0, -150px;*/
    width: auto;
    float: left;
    height: auto;
}
.regDiv .datatype {
    display: block;
    width: 75px;
    text-align: right;
    float: left;
    height: 35px;
}
input {
    font-size: 12px;
    line-height: 30px;
    font: 12px/1.14 arial,\5b8b\4f53;
    color: #333;
    outline: 0;
}
label {
    cursor: default;
}
.regDiv .regbtn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    border-radius: 5px;
    background: #1490c7;
    border: none;
    font-size: 14px;
    display: block;
    margin: 0 auto;
}
button{
    font: 12px/1.14 arial,\5b8b\4f53;
    color: #333;
    outline: 0;
}
a, button {
    cursor: pointer;
}
.helpcss a {
    color: #1794CC;
}
.regDiv li {
    line-height: 35px;
    margin-top: 15px;
    font-size: 15px;
    color: #666;
    overflow: hidden;
    height: 35px;
}
li {
    list-style: none;
}
a, span, div, p {
    font-family: "Microsoft YaHei";
}
.regDiv .dataValue {
    height: 35px;
    width: 228px;
    display: block;
    float: left;
    border: 1px solid #e6e6e6;
    margin-left: 10px;
    box-sizing: border-box;
}
del, ins, u, s, a, a:hover {
    text-decoration: none;
}
.mod-header a img {
    height: 80px;
    width: auto;
    margin: 0;
}
