body {
	margin: 0;
	padding: 0;
	background-color: #f5f8fa!important;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
	background-color: #ffffff;
	height: 96px;
	-moz-box-shadow: 0px 2px 3px #eee;
	box-shadow: 0px 2px 3px #eee;
}

.headtop {
	width: 1024px;
	height: 96px;
	margin-left: auto;
	margin-right: auto;
}

.hosplogo img {
	float: left;
	width: 246px;
	margin: 18px 0;
}

.caselogin {
	float: right;
	margin: 18px 0;
	color: #1695CA;
	cursor: pointer;
}

.headnavarea {
	height: 36px;
	background-color: #3692e2;
	border-bottom: 1px solid #cecfd2;
}

.headnav {
	width: 1024px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
}

.hnuclick {
	background-color: #2c7dc3;
}

.hnunit {
	display: inline-block;
	width: 100px;
	font-size: 14px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.container {
	width: 100%;
	margin-top: -15px;
}

.content-info {
	width: 100%;
	height: 880px;
	background: url(../image/background.png) no-repeat center top;
	background-size: cover;
}

.content {
	width: 1024px;
	margin: 0 auto;
}
.content ul {
	padding-top: 150px;
	overflow: hidden;
}
.content li {
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 40px 40px 0;
	background: rgba(255,255,255,.7);
	border-radius:6px;
	box-shadow:0px 1px 3px #E6E6E6;
	list-style: none;
}
.content i {
	display: block;
	width:65px;
	height: 65px;
	margin: 0 auto;
	margin-top: 45px;
	background: url(../image/icon.png) 0px 0px no-repeat;
}
.content .chufang,.content .zhuyuan {
	margin-right: 0px;
}
.menzhen i {
	background-position: -80px 0px;
}
.chufang i {
	background-position: -155px 0px;
}
.huayan i {
	background-position: -228px 0px;
}
.jiancha i {
	background-position: -304px 0px;
}
.zhuyuan i {
	background-position: -155px 0px;
}

.content li p {
	margin-top: 22px;
	color: #666666;
	font-size: 16px;
	margin-bottom: 0;
	text-align: center;
}
.content li span {
	display: block;
	text-align: center;
	font-size: 12px;
	margin-top: 2px;
	color: #666666;
}

.rightnav {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0px 0 0 540px;
	width: 80px;
	border: none;
}
.rnbut {
	width: 70px;
	height:70px;
	margin-bottom:15px;
}
.rnbut img {
	width: 70px;
	cursor:pointer;
}

.personal-data {
	width: 1024px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	background: #FFFFFF;
}
.personal-data p {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	padding-left:10px ;
	border-bottom: 1px solid #F0F0F0;
}
.personal-data span {
	margin-left: 10px;
}
.data-info{
	width: 100%;
	padding: 20px;
	font-size: 14px;
	color: #666666;
}
.data-info tr{
	height: 40px;
	line-height: 40px;
}
.data-info .data-th{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 7px;
}
body {
	height: auto;
	margin: 0;
	padding: 0;
}
a {
	text-decoration:none;
}
.header {
	width: 100%;
	background-color: #ffffff;
	height: 96px;
	-moz-box-shadow: 0px 2px 3px #eee;
	box-shadow: 0px 2px 3px #eee;
}

.headtop {
	width: 1024px;
	height: 96px;
	margin-left: auto;
	margin-right: auto;
}

.hosplogo img {
	float: left;
	width: 246px;
	margin: 18px 0;
}

.caselogin {
	float: right;
	margin: 18px 0;
	color: #1695CA;
	cursor: pointer;
}

.caselogin a {
	font-size: 14px;
}

.caselogin span {
	font-size: 14px;
}

.headnavarea {
	height: 36px;
	background-color: #3692e2;
	border-bottom: 1px solid #cecfd2;
}

.headnav {
	width: 1024px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
}

.hnuclick {
	background-color: #2c7dc3;
}

.hnunit {
	display: inline-block;
	width: 100px;
	font-size: 14px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}


.inthospopup {
	position: fixed;
	display: block;
	z-index: 3;
	width: 100%;
	height: 100%;
	margin: 0;
}

.cover {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: #000 none repeat;
}

.ihconpop {
	position: fixed;
	z-index: 3;
	top: 50%;
	left: 50%;
	margin: -175px 0 0 -170px;
	width: 340px;
	height: 320px;
	border: none;
	border-radius: 5px;
	background-color: #fff;
}

.closeihconpop {
	position: absolute;
	bottom: -45px;
	left: 153px;
	width: 34px;
	height: 34px;
	background: url(../image/closeihconpop.png) no-repeat;
	cursor: pointer;
}

.ihcphead {
	height: 46px;
	font-size: 18px;
	line-height: 46px;
	color: #666;
	padding-left: 40px;
	background: #f0f0f0;
	border-radius: 5px 5px 0 0;
}

.hp-loginpop {
	position: relative;
}

.ihcpbody {
	padding: 20px;
}

.hp-loginuser {
	position: absolute;
	top: 32px;
	left: 50px;
	display: block;
	width: 20px;
}

.hp-loginkey {
	position: absolute;
	top: 92px;
	left: 50px;
	display: block;
	width: 20px;
}

.loginuser {
	display: block;
	width: 180px;
	height: 20px;
	padding: 10px 40px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	border: 1px solid #dbdbdb;
	margin: 0 auto;
	margin-bottom: 20px;
}

.loginusered {
	display: block;
	width: 262px;
	margin: 0 auto;
	overflow: hidden;
}

.forgetkey {
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	color: #318ad6;
	cursor: pointer;
}

.loginbut {
	display: inline-block;
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #3692e2;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
}

.loginbut {
	display: inline-block;
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #3692e2;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
}


























